#root {
  max-width: 85vw;
  width: 85vw;
  margin: 0 auto;
  text-align: left;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    background-color: #f5f4f0;
    color: #757575;
}


.navbar{
    width: 85vw;
    position: absolute;
    top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    margin: 0;
}

.navButton{
    margin: 0 .1vw;
    background-color: transparent;
    color: black;
    border: 1px solid #91919177;
}

.navbar-buttons{
    display: flex;
    gap: 4px;
}

.navbar-text{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'IBM Plex Mono'
}

.user{
    color: black;
}


