
.container{
    width: 30vw;
    margin: 0 auto;
}

.titleText{
    margin: 0;
    font-size: 2.5rem;
    color: black;
}
.subtitleText{
    margin: 0;
}

.heroText{
    margin: 5vh 0;
}

.label{
    font-size: 0.8rem;
    color: #5e5d5d;
}

.loginInput{
    box-sizing: border-box;
    width: 100%;
    height: 2.5vw;
    margin-top: .5vw;
    margin-bottom: 2vw;
    padding-left: 12px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
}

.loginButton{
    width: 100%;
    background-color: #00000000;
    color: black;
    border: solid 1px;
    border-color: #5e5d5d;

}

.errorText{
    color: red;

}